@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.App {
  text-align: center;
}

.tick line{
  stroke: #4e4e0c;
}

.tick text{
  font-family: 'Merriweather', serif;
  fill: #4d3928;
}

.mark{
  fill:rgb(95, 100, 100);
}

.axis-label{
  font-size: 2.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


